<div class="container mt-4">
    
    <table id="table_id" class="display">
    <thead>
        <tr>
            <th>OS</th>
            <th>Data de Abertura</th>
            <th>Cliente</th>
            <th>Vendedor</th>
            <th>Equipamento</th>
            <th>Modelo</th>
            <th>Número de Série</th>
            <th>Ultimo movimento</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class=" badge bg-success mt-2 mb-2 " style="font-size: 15px">32169</td>
            <td>21/03/2022</td>
            <td>Comercial Melhor</td>
            <td>Joana</td>
            <td>Coletor de Dados</td>
            <td>Dolphin 6500</td>
            <td>852782635</td>
            <td>11/11/21 08:05</td>
        </tr>
        <tr>
            <td class=" badge bg-success mt-2 mb-2  " style="font-size: 15px">30015</td>
            <td>21/03/2022</td>
            <td>Sint Sistemas</td>
            <td>Mayara</td>
            <td>Coletor de Dados</td>
            <td>MC659b</td>
            <td>123456789653</td>
            <td>11/11/21 08:05</td>
        </tr>
       
    </tbody>
</table>

</div>

